@model List<Student>;

<ul>
    @foreach (Student std in Model)
    {
        <li>@std.Id - @std.Name @std.Surname @std.Age</li>
    }
</ul>

@*<ul>
    @foreach (Student std in ViewBag.Students)
    {
        <li>@std.Id - @std.Name @std.Surname @std.Age</li>
    }
</ul>*@
